{{#persona}}
<div class="personaCard" role="button" aria-label="{{name}}">
    <a href="{{url}}">
        <div class="persona-coin" role="presentation">
            <div class="persona-imageArea">
                <div class="persona-image">
                    {{#if profile_image}}
                    <img class="ms-fadeIn400" src="{{img_url profile_image size="xs"}}" alt="" />
                    {{else}}
                    <img class="ms-fadeIn400" src="https://www.gravatar.com/avatar/{{id}}-{{slug}}?s=40&d=identicon" alt="" />
                    {{/if}}
                </div>
            </div>
        </div>
         <div class="persona-details">
             <div title="{{name}}">{{name}}</div>
         </div>
    </a>
    {{> "controls/livePersonaCard"}}
</div>
{{/persona}}